header {
  background: url("../img/portada.png") center bottom repeat-x,
    linear-gradient(#fae5c7, #f2f2f2);
  background-size: cover;
  padding: 10vh 0 0 0;
}

body {
  background: rgb(242, 242, 242);
  font-weight: 400;
}

main p em {
  font-weight: 500;
  text-align: justify;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(3rem + 1.5vw);
  line-height: 1;
}

h3 {
  text-align: center;
}

main p.lead {
  text-align: justify;
  letter-spacing: 0.025rem;
  line-height: 1.6;
}
